<div class="container">
  <div class="cards-container">
    <div class="card">
      <p-card class="p-card-style text-up text-center">
        <span class="text-black">
          nameLower
        </span>
      </p-card>
    </div>

    <div class="card">
      <p-card class="p-card-style text-center">
        <span class="text-black">
          nameUpper
        </span>
      </p-card>
    </div>

    <div class="card">
      <p-card class="p-card-style text-center">
        <span class="text-middle">
          fullName
        </span>
      </p-card>
    </div>

    <div class="card">
      <p-card class="p-card-style text-center">
        <span class="text-middle">
          fullName
        </span>
      </p-card>
    </div>
  </div>

  <div class="panel-container">
    <p-panel header="Pipes Basicos" class="p-1">
      <p-table [value]="heroes">
        <ng-template pTemplate="header">
          <tr>
            <th>Nombre</th>
            <th>Vuela</th>
            <th>Color</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-hero>
          <tr>
            <td>{{ hero.name }}</td>
            <td>{{ hero.canFly }}</td>
            <td>{{ hero.color }}</td>
          </tr>
        </ng-template>
      </p-table>
    </p-panel>
  </div>
</div>
