.container {
  display: flex;
  flex-direction: column;
  background-color: lightgray;
  height: 100vh;
}
.cards-container {
  flex: 1;
  display: flex;
  align-items: stretch;
  padding: 20px;
}

.card {
  display: flex;
  margin: 0 5px; /* Ajusta el margen horizontal entre las tarjetas cuando la pantalla es pequeña */
  padding: 10px;
}

@media (max-width: 768px) {
  .card {
    margin: 0 2px; /* Ajusta el margen lateral cuando la pantalla es pequeña */
  }
}



/* Estilos para el panel */
.panel-container {
  flex: 1;
  background-color: lightgray;
  padding: 20px;
}
