  <!-- <div class="grid">
    <ng-container class="">
      <div class="m-t-10 m-b-10 m-l-10 m-r-10">
        <p-card header="EURO" subheader="Balance actual">
          <div class="crypto-info">
            <p>Balance: {{balanceEuros}}</p>
            <button pButton label="Comprar" class="p-button-rounded p-button-success"></button>

          </div>
        </p-card>
      </div>
    </ng-container>
    <ng-container *ngFor="let currency of currencies ">
      <div class="m-t-10 m-b-10 m-l-10 m-r-10">
        <p-card [header]="currency.name" subheader="Balance actual">
          <div class="crypto-info">
            <p>Balance: {{currency.quote.USD.price}}</p>
            <button pButton label="Comprar" class="p-button-rounded p-button-success"></button>
            <a [routerLink]="['/dashboard/detail', currency.id]">Ver detalles</a>
          </div>
        </p-card>
      </div>
    </ng-container>
  </div> -->
<div class="container">
  <div class="panel-container">
    <p-panel header="Lista de Criptomonedas" >
      <p-table [value]="userCurrencies" class="custom-table" >
        <ng-template pTemplate="header">
          <tr>
            <th>Cripto moneda</th>
            <th>cantidad </th>
            <th>Importe</th>
            <th></th>
          </tr>
        </ng-template>
        <!-- <ng-template pTemplate="body">
          <tr>
            <td>EURO</td>
            <td> </td>
            <td>{{balanceEuros}}</td>
          </tr>
        </ng-template> -->
        <ng-template pTemplate="body"  let-userCurrency>

          <tr >
            <td>{{ userCurrency.coin.name }}</td>
            <td>{{ userCurrency.quantity ? userCurrency.quantity : '0' }} {{userCurrency.coin.symbol}}</td>
            <td>1 {{userCurrency.coin.symbol}} = {{ userCurrency.marketPrice | number }}€ <br>
              <p>total {{userCurrency.marketPrice * userCurrency.quantity ? userCurrency.marketPrice * userCurrency.quantity : '0'}}€</p>
            </td>
            <td><button pButton label="{{userCurrency.coin.symbol==='EUR' ? 'Agregar':'Comprar'}}" class="p-button-rounded p-button-success" (click)="showBuyDialog(userCurrency.coin.symbol==='EUR' ? 'Agregar':'Comprar',userCurrency.coin.name)"></button>
              <button *ngIf="userCurrency.quantity"  pButton label="{{userCurrency.coin.symbol=='EUR' ? 'Retirar':'Vender'}}" class="p-button-rounded p-button-danger" (click)="showBuyDialog(userCurrency.coin.symbol=='EUR' ? 'Retirar':'Vender',userCurrency.coin.name)"></button></td>
          </tr>

        </ng-template>
        <ng-template pTemplate="footer">
          <tr>
            <td>Total :  {{TotalInEuros}}</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </ng-template>
      </p-table>
    </p-panel>
  </div>
</div>

